body {
    margin: 0;
    background-color: #f0f2f5;
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

.about-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.5rem;
    box-sizing: border-box;
}

.main-content-container {
    max-width: 672px;
    width: 100%;
    text-align: left;
}

.decorator-line {
    width: 4rem;
    height: 2px;
    background-color: #121212;
    margin-bottom: 2rem;
}

.main-title {
    font-size: 2.25rem;
    font-weight: 300;
    color: #121212;
    margin-top: 0;
    margin-bottom: 2rem;
}

.main-description {
    font-size: 1rem;
    line-height: 1.625;
    color: #121212;
    max-width: 580px;
    text-align: justify;
}

@media (min-width: 640px) {

    .header,
    .main-content,
    .footer {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .navigation {
        gap: 2.5rem;
    }

    .main-title {
        font-size: 3rem;
    }

    .main-description {
        font-size: 1.125rem;
    }
}

@media (min-width: 768px) {

    .header,
    .main-content,
    .footer {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}